<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.univsavoie.ltp.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    	<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />		
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<!--<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />-->
		

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/Theme.ltp"
       
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".SignupActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".UserPreferencesActivity"></activity>
        
    	<service android:name=".LtpTrackerService" />
    	
    	
    	
    </application>

</manifest>